.grid {
    display: grid;

    grid-template-columns: repeat(8, 1fr);
  
    grid-auto-rows: minmax(70px, auto);

    gap: 20px;

    grid-template-areas: 
    "one one one one one one one one"
    "two two three three five five five six"
    "four four four four five five five six";
}

.item1 {
    grid-area: one;
}

.item2 {
    grid-area: two;
}

.item3 {
   grid-area: three;
}

.item4 {
  grid-area: four;
}

.item5 {
 grid-area: five;
}
.item6 {
    grid-area: six;
}